.about {
    /*  height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6% 0 6% 0;
}

.content {
    width: 70%;
    height: min-content;
    display: flex;
    gap: 5%;
}

.profile_pic {
    width: 36%;
    align-self: center;
}

.text {
    width: 80%;
}

.bio {
    color: #4f4f4f;
    line-height: 2;
    font-size: 1.2em;
}

.icon {
    width: 5%;
    color: #00418f;
    margin: 0 4% 0 0;
}

@media only screen and (max-width: 768px) {
    .about {
        padding-top: 12%;
    }
    .content {
        flex-direction: column;
        width: 90%;
    }
    .text {
        align-self: center;
    }
    .icon {
        width: 10%;
        margin-right: 8%;
    }
}
