html,
body {
    margin: 0;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    color: #00418f;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
    font-weight: 200;
    margin: 0 0 3% 0;
}

h2 {
    font-size: 2.4em;
    font-weight: 100;
    margin: 0;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 130%;
    color: #00418f;
    margin: 6% 0 0 0;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
 */
