.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6% 0 6% 0;
    background-color: #f4f9ff;
}

.intro {
    color: #4f4f4f;
    line-height: 2;
    font-size: 1.2em;
}

.list {
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 1%;
    padding: 2%;
    color: #4f4f4f;
    background-color: white;
    box-shadow: 0px 3px 5px rgba(0, 27, 71, 0.1);
    border-radius: 5px;
}

.image {
    width: 100%;
    box-shadow: 0px 3px 5px rgba(0, 27, 71, 0.1);
}
.description {
    margin: 0 0 10% 0;
    line-height: 1.6;
}
.buttons {
    display: flex;
    gap: 10%;
    align-items: flex-end;
    justify-content: center;
    flex-grow: 1;
}

.app_button {
    width: max-content;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    padding: 0.8% 18% 0.8% 18%;
    background: linear-gradient(
        90deg,
        rgba(223, 11, 138, 1) 0%,
        rgba(255, 92, 116, 1) 50%,
        rgba(255, 188, 108, 1) 100%
    );
    box-shadow: 0px 3px 5px rgba(0, 27, 71, 0.1);
}

.repo_button {
    width: max-content;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    padding: 0.8% 18% 0.8% 18%;
    background: linear-gradient(
        90deg,
        #000000 0%,
        #6f6f6f 52.08%,
        #dfdfdf 100%,
        #cbcbcb 100%
    );
    box-shadow: 0px 3px 5px rgba(0, 27, 71, 0.1);
}

.app_button:hover {
    cursor: pointer;
}

.repo_button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .intro {
        width: 60%;
        text-align: center;
    }
    .list {
        flex-direction: column;
        width: 70%;
    }

    .item {
        width: 100%;
        padding: 8%;
    }
}
