.welcome {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    background-color: #f4f9ff;
}

.title {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 30%;
}

.image {
    position: relative;
    width: 35%;
    display: flex;
}

@media only screen and (max-width: 768px) {
    .welcome {
        padding-top: 10%;
        flex-direction: column;
        justify-content: center;
    }
    .title {
        text-align: center;
        width: 80%;
    }
    .image {
        width: 70%;
        margin-top: 6%;
    }
}
